$news-font-size: 1.3em;
a {
  text-decoration: none;
}

a:hover {
  @extend a;
}

.news a {
  font-size: $news-font-size;
}

@font-face {
  font-family: trojanhorse;
  src: url('../fonts/trojanpro-bold.otf');
}

@font-face {
  font-family: trojanhorse;
  src: url('../fonts/trojanpro-bold.otf');
  font-weight: bold;
}

.trojanhorse {
  font-family: trojanhorse;
  font-size: 3em;
}