.disqus-comment {
  margin-left:-30px;
  width:100%
}

.list {
  position: relative;
  height: 70px;
  clear: left;

  &:hover {
    background-color: #f7f7f7;
  }

  img {
    float: left;
    margin: 0 10px 10px 0;
  }

  p {
    position: absolute;
    right: 0;
    bottom: -10px;
  }
}