.news {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  @include animation(marquee 50s linear infinite);
}

.news:hover {
  @include animation-play-state(paused);
}

@include keyframes(marquee) {
  from {
    @include transform(translateX(100%));
  }
  to {
    @include transform(translateX(-100%));
  }
}